@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hanuman:wght@100;300;400;700;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #d8e4e9;
}
.mainpage {
  background-image: url(assents/main.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.main-logo {
  width: 101px;
  height: 35px;
}
.main-pro {
  width: 11.67px;
  height: 15px;
}

.language {
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  color: black;
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  padding: 13px;
  border-radius: 24px;
}

header {
  display: flex;
  justify-content: center;
}
.main-page-header {
  display: flex;
  justify-content: space-between;
  width: 1204px;
  margin-top: 30px;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 100;
}

ul {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
li {
  width: 100px;
  list-style: none;
}
.head-list {
  font-family: Inter;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.78px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
  color: white;
}
.puremagic {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  text-align: center;
  color: #e8edf2b8;
  padding-top: 95.5px;
}
.awaits {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 250px;
  line-height: 250px;
  color: #fdfdfefa;
  text-align: center;
}
.main-year {
  font-family: "Hanuman", serif;
  font-weight: 900;
  font-size: 64px;
  line-height: 64px;
  color: #ffffffcc;
  text-align: center;
}

.card-page {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;

  align-items: center;
}

.price-page {
  background-image: url(assents/Price&Footer\ image.png);
  background-size: cover;
  width: 100%;
  height: 1120px;
}
.card-page-main {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.card {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  position: relative;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-text {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-size: 37px;
  line-height: 44.4px;
  text-align: center;
  color: white;
  position: relative;
  width: 232px;
  opacity: 0.8;
  transition: opacity 0.5s;
}
.card-container {
  position: relative;
}

.card-hover {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s;
}
.card-container .card-hover:hover {
  opacity: 1;
}
.card-container:hover .card-text {
  opacity: 1;
}

.card-container:nth-child(1) .card {
  background-image: url(assents/hover-terkhiintsagaan.png);
}
.card-container:nth-child(2) .card {
  background-image: url(assents/Hover-amarbayasgalan.png);
}
.card-container:nth-child(3) .card {
  background-image: url(assents/Hover-khuvsgul.png);
}
.card-container:nth-child(4) .card {
  background-image: url(assents/Hover-khorgo.png);
}
.card-left {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  position: absolute;
  background-color: #83afcb;
  top: -10px;
  left: -10px;
}
.card-right {
  width: 275px;
  height: 370px;
  border-radius: 40px;
  position: absolute;
  background-color: #adc8d1;
  bottom: -10px;
  right: -10px;
}

.page-header {
  font-family: Inter;
  font-weight: 600;
  font-size: 42px;
  line-height: 50.83px;
  letter-spacing: 0%;
  text-align: center;
  color: black;
  padding-top: 120px;
}

.page-header-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: 0%;
  text-align: center;
  color: #18181bb2;
  padding-top: 10px;
  padding-bottom: 59px;
}

.map-page {
  background-image: url(assents/Roadmap\ image.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.map-box-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.map-box {
  width: 513px;
  height: 112px;
  border-radius: 120px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.map-box:nth-child(1) {
  background-color: #eee9d9;
}
.map-box:nth-child(2) {
  background-color: #8bb8c1cc;
}
.map-box:nth-child(3) {
  background-color: #aad8d7cc;
}
.map-box:nth-child(4) {
  background-color: #8bc0bdcc;
}
.map-box:nth-child(5) {
  background-color: #97cce0cc;
}

.package-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.flex-align {
  display: flex;
  align-items: center;
}

.icon-container {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
.map-box-con-flex {
  display: flex;
  justify-content: flex-start;
  margin-left: 120px;
}

.map-box-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  padding-bottom: 4px;
}

.day {
  width: 52px;
  height: 52px;
  background-color: #f7f6f3;
  font-weight: 500;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  padding-top: 18px;
}

.map-box:hover {
  border: 4px solid white;
}

.map-box-hover-ub {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url(assents/map-sukhbaatar.png);
  top: 400px;
  right: 100px;
  opacity: 0;
}

.map-box-hover-amar {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url(assents/map-amarbayasgalan.png);
  top: 200px;
  right: 450px;
  opacity: 0;
}
.map-box-hover-khorgo {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url(assents/map-khorgo.png);
  top: 400px;
  right: 550px;
  opacity: 0;
}
.map-box-hover-terkh {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url(assents/map-terkh.png);
  top: 350px;
  right: 600px;
  opacity: 0;
}
.map-box-hover-khuvsgul {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  background-size: cover;
  background-image: url(assents/map-khuvsgul.png);
  top: 200px;
  right: 620px;
  opacity: 0;
}

.map-box:hover .map-box-hover-ub {
  opacity: 1;
}

.map-box:hover .map-box-hover-amar {
  opacity: 1;
}
.map-box:hover .map-box-hover-khorgo {
  opacity: 1;
}
.map-box:hover .map-box-hover-terkh {
  opacity: 1;
}
.map-box:hover .map-box-hover-khuvsgul {
  opacity: 1;
}

/*  */
.package-hover {
  position: relative;
}
.package {
  width: 384px;
  height: 527px;
  background-color: #fafbfc;
  border-radius: 40px;
  position: relative;
  z-index: 10;
}
.package-left {
  position: absolute;
  width: 384px;
  height: 527px;
  background-color: #121316;
  border-radius: 40px;
  top: -7px;
  left: -7px;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 3;
}
.package-hover:hover .package-left {
  opacity: 1;
}

.package-right {
  position: absolute;
  width: 384px;
  height: 527px;
  background-color: #83afcb;
  border-radius: 40px;
  bottom: -7px;
  right: -7px;
  opacity: 0;
  transition: opacity 0.5s;
}

.package-hover:hover .package-right {
  opacity: 1;
}

.package-hover:hover .package-button {
  background: black;
  color: white;
}

.package-header {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  color: #121316;
  margin-left: 16px;
  padding-top: 32px;
}

.icon-fav {
  width: 36px;
  height: 36px;
  margin-top: 32px;
  margin-left: 24px;
}

.price {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 40px;
  color: #303030;
  padding-left: 24px;
  margin-top: 30px;
}
.price-text {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #919191;
  padding-left: 24px;
  margin-top: 10px;
}

.package-include {
  font-family: Inter;
  font-weight: 500;
  font-size: 18px;
  color: #121316;
  margin-left: 64px;
  margin-top: 32px;
}
.icon-check {
  width: 14px;
  height: 11px;
  margin-left: 26px;
}

.package-list {
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  color: #3f4145;
  width: 296px;
}

.package-include-flex {
  display: flex;
  gap: 20px;
  align-items: center;
}

.package-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.popular-flex {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
}
.popular {
  color: white;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  width: 91px;
  height: 27px;
  padding: 4px 16px;
  border-radius: 50px;
  background-color: #6972b5;
  margin-top: 5px;
}

.package-button {
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  width: 336px;
  height: 48px;
  border: none;
  border-radius: 50px;
  background-color: #a4d1e2;
  margin-top: 37px;
  margin-left: 24px;
}

.icon-social {
  width: 24px;
  height: 24px;
}

.social-text {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #6972b5;
}

.social-box {
  width: 167px;
  height: 44px;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #fafbfc;
  display: flex;
  gap: 10px;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.social-foooter {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin-top: 100px;
  padding: 80px 0;
  justify-self: center;
}
